h1 {
  background-color: #dcdcdc;
  padding: 30px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 50px;
  font-weight: bold;
}

nav:first-of-type ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
nav ul li {
  margin: 10px 0; 
  padding: 10px 20px; 
}
nav ul li a {
  display: block;
  text-decoration: none;
  color: #808080;
}

h2 {
  font-family: "Helvetica Neue", sans-serif; /* Définit une police sans-serif pour le titre */
  font-size: 30px; /* Définit la taille de la police du titre à 32 pixels */
  font-weight: bold; /* met le titre en gras */
  text-align: center; /* Centre le texte du titre */
  color: #333; /* Définit la couleur de la police du titre à un gris foncé */
  letter-spacing: 0px; /* Ajoute un espacement de 1 pixel entre chaque lettre du titre */
  line-height: 1.2; /* Définit la hauteur de ligne du titre à 1.2 fois la hauteur de la police */
}

body {
	background-color: #f2f2f2;
}

p {
  text-align: center;
}


img:first-of-type {
	width: 300px;
  height: auto; /* pour conserver le ratio d'aspect de l'image */
  margin: 50px;
  display: block; /* pour que l'image soit affichée en tant que bloc */
  position: relative; /* pour pouvoir utiliser la propriété top et left */
  top: 10px;
  left: 200px;
}
#image-2 {
	width: 300px;
  height: auto; /* pour conserver le ratio d'aspect de l'image */
  margin: 50px;
  display: block; /* pour que l'image soit affichée en tant que bloc */
  position: relative; /* pour pouvoir utiliser la propriété top et left */
  top: -265px;
  left: 600px; 
}
#image-3 {
	width: 300px;
  height: auto; /* pour conserver le ratio d'aspect de l'image */
  margin: 50px;
  display: block; /* pour que l'image soit affichée en tant que bloc */
  position: relative; /* pour pouvoir utiliser la propriété top et left */
  top: -265px;
  left: 600px;
}
#image-4 {
	width: 300px;
  height: auto; /* pour conserver le ratio d'aspect de l'image */
  margin: 50px;
  display: block; /* pour que l'image soit affichée en tant que bloc */
  position: relative; /* pour pouvoir utiliser la propriété top et left */
  top: -690px;
  left: 200px;
}

img:hover {
  transform: rotateY(180deg);
  transition: transform 0.5s ease;
}
