@font-face {
    font-family: 'ArtigoDisplay-Black';
    src: url('ArtigoDisplay-Black.eot') format('eot'),
         url('ArtigoDisplay-Black.woff') format('woff'),
         url('ArtigoDisplay-Black.ttf') format('truetype'),
         url('ArtigoDisplay-Black.woff2') format('woff2');
}
@font-face {
    font-family: 'Bellefair-Regular';
    src: url('Bellefair-Regular.ttf');}
@font-face {
    font-family: 'Louis George Cafe';
    src: url('Louis George Cafe.ttf');}
.Titre {
    font-family: ArtigoDisplay-Black, arial, serif;
    text-align: center;
    font-size: 5vw;
    color: white;
}
nav:first-of-type ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Louis George Cafe;
    font-size: 1.8vw;
}

#menu:hover {
    color: #088EFE;}
    
#couleur:hover {
    color: #088EFE;}


nav ul li {
  margin: 10px 0; 
  padding: 10px 20px; 
}
nav ul li a {
  display: block;
  text-decoration: none;
  color: #fff;
}
#menu {
    font-size: 1.7vW;
    color: white;
    padding-bottom: 1%;
    text-decoration: none;
    max-width: 10%;
    word-wrap: break-word;
}
#liste {
    display: none;
    background-color: #000000;
    color: #000000;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 1.4vw;
    position: relative;
    list-style: none;
    text-align: center;
}

#liste:hover {
    background-color: #000000;
    color:#000000 ;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 1.4vw;
    position: relative;
    list-style: none;
}

body{
    background-color: #3C3C3F;
}

nav:first-of-type ul:second-of-type li:first-of-type ul:second-of-type li{
    border: 1px solid white;
}
footer {
    text-align: center;
    color: #fff;
    font-size: 1.1vw;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1%;
    margin-top: 90%;
    font-family: Bellefair-Regular, arial;
}

.img1{
    border-radius: 20px;
    box-shadow: 40px 30px 35px black;
    max-width: 40%;
}
.img2 {
    filter: blur(7.5px);
        -webkit-filter: blur(7.5px);
        -moz-filter: blur(7.5px);
        -o-filter: blur(7.5px);
        -ms-filter: blur(7.5px);
        border-radius: 20px;
        box-shadow: 40px 30px 60px black;
        max-width: 40%;
}
.box {
    display: inline;
    background-color: transparent;
    perspective: 10000px;
    z-index: 1;
}
      .box-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.2s;
        transform-style: preserve-3d;
      }
      .box:hover .box-inner {
        transform: rotateY(180deg);
      }
      .box-front,
      .box-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
      }
      .box-front {
        background-color: #cccccc;
        color: #111111;
      }
      .box-back {
        background-color: #8ebf42;
        color: #eeeeee;
        transform: rotateY(180deg);

      }

