@font-face {
    font-family: 'ArtigoDisplay-Black';
    src: url('ArtigoDisplay-Black.eot') format('eot'),
         url('ArtigoDisplay-Black.woff') format('woff'),
         url('ArtigoDisplay-Black.ttf') format('truetype'),
         url('ArtigoDisplay-Black.woff2') format('woff2');
}
@font-face {
    font-family: 'Bellefair-Regular';
    src: url('Bellefair-Regular.ttf');}
@font-face {
    font-family: 'Louis George Cafe';
    src: url('Louis George Cafe.ttf');}
.Titre {
    font-family: ArtigoDisplay-Black, arial, serif;
    text-align: center;
    font-size: 5vw;
    color: white;
}
nav:first-of-type ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: Louis George Cafe;
  font-size: 1.8vw;
}

#menu:hover {
    color: #088EFE;}
    
#couleur:hover {
    color: #088EFE;}


nav ul li {
  margin: 10px 0; 
  padding: 10px 20px; 
}
nav ul li a {
  display: block;
  text-decoration: none;
  color: #fff;
}
#menu {
    font-size: 1.7vW;
    color: white;
    padding-bottom: 1%;
    text-decoration: none;
    max-width: 10.5%;
    word-wrap: break-word;
}
#liste {
    display: none;
    background-color: #000000;
    color: #000000;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 1.3vw;
    position: relative;
    list-style: none;
    text-align: center;

}
#liste:hover {
    background-color: #000000;
    color:#000000 ;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 1.3vw;
    position: relative;
    list-style: none;
}


* {
        box-sizing: border-box;
      }
      body {
        font-family: Verdana, sans-serif;
        margin: 0;
      }
      .mySlides {
        display: none;
      }
      img {
        vertical-align: middle;
        filter: brightness(120%);
      }
      .slideshow-container {
        max-width: 10000px;
        position: relative;
        margin: auto;

      }
      /* Next & previous buttons */
      .prev,
      .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
      }
      /* Position the "next button" to the right */
      .next {
        right: 0;
        border-radius: 3px 0 0 3px;
      }
      /* On hover, add a black background color with a little bit see-through */
      .prev:hover,
      .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
      }
      /* Caption text */
      .text {
        color: #ffffff;
        font-size: 0,9vw;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
      }
      /* The dots/bullets/indicators */
      .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #999999;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
      }
      .active,
      .dot:hover {
        background-color: #111111;
      }
      /* Fading animation */
      .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
      }
      @-webkit-keyframes fade {
        from {
          opacity: 0.4;
        }
        to {
          opacity: 1;
        }
      }
      @keyframes fade {
        from {
          opacity: 0.4;
        }
        to {
          opacity: 1;
        }
      }
      /* On smaller screens, decrease text size */
      @media only screen and (max-width: 300px) {
        .prev,
        .next,
        .text {
          font-size: 11px;
        }
      }

h2 {
  font-family: Louis George Cafe;
  font-size: 1.7vw;
  text-align: center; 
  color: #fff; 
  
}
p {
  text-align: center;
  color: #fff;
  font-size: 1.4vw;
  margin-left: 10%;
  margin-right: 10%;
}
#carte {
    font-family: Bellefair-Regular, arial;
}

body{
    background-color: #3C3C3F;
}

nav:first-of-type ul:second-of-type li:first-of-type ul:second-of-type li{
    border: 1px solid white;
}

footer {
    text-align: center;
    color: #fff;
    font-size: 1.1vw;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 7%;
    font-family: Bellefair-Regular, arial;
}